:root {
  --bgColor: #eee;
  --fgColor: #fff;
  --buttonColor: #87bc64;
  --lightgrey: #ccc;
  --shadowColor: #888;
  --descriptionColor: #56b0d4;
  --redColor: #fb6866;
  --linkColor: #87bc64;
  --linkHoverColor: #63baff;
  --fontColor: #000;
  --maxWidth: 800px;
}
