:root {
  --bgColor: #f8f8f8;
  --buttonColor: #ffe082;
  --greenColor: #a5d6a7;
  --shadowColor: #888;
  --descriptionColor: #ccc;
  --linkColor: #2196f3;
  --blueColor: #81d4fa;
  --purpleColor: #ce93d8;
  --redColor: #ef5350;
  --linkHoverColor: #42a5f5;
  --fontColor: #111111;
  --maxWidth: 800px;
}
