:root {
  --bgColor: #f8f8f8;
  --buttonColor: #ffd54f;
  --titleColor: #1c1;
  --greenColor: #4caf50;
  --shadowColor: #888;
  --linkColor: #2196f3;
  --blueColor: #42a5f5;
  --purpleColor: #ce93d8;
  --redColor: #f44336;
  --linkHoverColor: #03a9f4;
  --fontColor: #111111;
}
